name: Run Tests

on: [push]

jobs:
  run:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        composer-flags: ["--prefer-stable", "--prefer-lowest"]
        php-versions: ['7.3', '7.4']
    name: PHP ${{ matrix.php-versions }} Tests (${{ matrix.composer-flags }})
    steps:
    - name: Checkout
      uses: actions/checkout@v2

    - name: Setup PHP
      uses: shivammathur/setup-php@v2
      with:
        php-version: ${{ matrix.php-versions }}
        ini-values: error_reporting=E_ALL
        extensions: curl, mbstring, zip, pcntl, pdo, sqlite, pdo_sqlite, iconv
        coverage: xdebug        

    - name: Install dependencies
      run: composer update ${{ matrix.composer-flags }} --prefer-dist --no-interaction --no-suggest
  
    - name: Run Tests
      run: vendor/bin/phpunit
