name: Run Tests

on:
  push:
  pull_request:
  schedule:
    - cron: '0 0 * * *'

jobs:
  run:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        composer-flags: ['--prefer-stable', '--prefer-lowest']
        php-versions: ['7.3', '7.4', '8.0', '8.1', '8.2', '8.3', '8.4', '8.4', '8.5', '8.5']
        exclude:
          - php-versions: '8.1'
            composer-flags: --prefer-lowest
          - php-versions: '8.2'
            composer-flags: --prefer-lowest
          - php-versions: '8.4'
            composer-flags: --prefer-lowest
          - php-versions: '8.5'
            composer-flags: --prefer-lowest

    name: PHP ${{ matrix.php-versions }} Tests (${{ matrix.composer-flags }})

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php-versions }}
          ini-values: error_reporting=E_ALL, display_errors=On, zend.exception_ignore_args=Off
          extensions: curl, mbstring, zip, pcntl, pdo, sqlite, pdo_sqlite, iconv, xdebug
          coverage: xdebug

      - name: Install dependencies
        run: composer update ${{ matrix.composer-flags }} --prefer-dist --no-interaction

      - name: Run Tests
        run: vendor/bin/phpunit
